/* Fullscreen Center Layout */
.auth-container-dark {
  height: 100vh;
  width: 100vw;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form Box */
.auth-box {
  width: 350px;
  background: #1a1a1a;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

/* Title */
.auth-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

/* Inputs */
.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #121212;
  color: white;
  font-size: 14px;
}

/* Button */
.auth-btn {
  width: 100%;
  padding: 12px;
  background: #4e8cff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

.auth-btn:hover {
  background: #3c74d9;
}

/* Bottom Text */
.auth-bottom-text {
  margin-top: 10px;
  font-size: 14px;
  color: #cccccc;
}

a {
  color: #4e8cff;
  text-decoration: none;
}
